.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr) );
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    grid-column: 2/3;
}

h2 {
    color: white;
    background-color: rgba(0,20,30,.8);
    display: inline;
    font-family: sans-serif;
    padding: 8px;
    margin: 0 8px 8px 8px;
}

.gameBox {
    box-shadow: 0 0 10px slategray;
    border-radius: 4px;
    height: 240px;
    position: relative;
    transition: transform 0.2s;

    div {
        display: flex;
        align-items: flex-end;
        height: 175px;
        border-radius: 4px 4px 0 0;
        background-size: cover;  
    }

    article {
        padding: 5px 8px;
        font-family: sans-serif;
        font-size: 0.8rem;
        time {
            color: rgb(70,70,70);
        }
        p{
            margin-top: 3px;
        }
        ul {
            position: absolute;
            right: 5px;
            bottom: 8px;
            i{
                margin-right: 3px;
            }
        }
    }
}

.gameBox li {
    display: inline;
}

.gameBox:hover {
    transform: scale(1.02);
}

.getMore {
    background-color: rgb(70, 70, 70);
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        background-color: grey;
        display: block;
        transition-duration: 0.3s;

        &:hover {
            transform: scale(1.08);
        }

        &::before {
            content: "+";
            height:90px;
            width: 90px;
            font-size:90px;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            color:white;
            box-shadow: 5px 5px 10px black;
            border-radius: 50%;
            font-family:courier;
        }
    }
}
