.gridFather {
    display:grid;
    grid-template-rows: 70vh 50px 1fr;
    grid-template-columns: 1fr;

    header {
        background-color: mediumseagreen;
        grid-row: 1/3;
        grid-column: 1/2;
        color: white;
    }
}

