

    main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 225px 1fr;
    grid-gap: 15px;

    .form {
        width: 225px;
        height: calc(232.6px * 2 + 15px);
        background-color: salmon;
        grid-column: 1/2;
    }
    }


